<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYG14NGjWYvAy2mIosV2TRHBCCWeebCbY</string>
	<key>GCM_SENDER_ID</key>
	<string>41538344528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.msgApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>msg-app-625e7</string>
	<key>STORAGE_BUCKET</key>
	<string>msg-app-625e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41538344528:ios:b2cb56c13e1cb257682355</string>
</dict>
</plist>